@import "tailwindcss";

:root {
  --background-color: #121212;
  --text-color: #f3f3f3;
  --primary-color: #00c950;
  --secondary-color: #008236;
}

@theme {
  --color-primary: var(--primary-color);
  --color-text: var(--text-color);
  --color-background: var(--background-color);

  --shadow-main: 0px 0px 20px var(--primary-color);
  --shadow-button-primary: 0px 0px 50px var(--secondary-color);
  --shadow-button-white: 0px 0px 50px #ffffff44;
  --shadow-footer: 0px 0px 70px var(--primary-color);

  --text-shadow-main: 0px 0px 15px var(--primary-color);
  --text-shadow-blue: 0px 0px 15px #00a6f4;

  --drop-shadow-main: 0px 0px 20px var(--primary-color);
  --drop-shadow-trailer: 0px 0px 50px var(--primary-color);
  --drop-shadow-blue: 0px 0px 20px #00a6f4;
  --drop-shadow-violet: 0px 0px 20px #8e51ff;
  --drop-shadow-yellow: 0px 0px 20px #ffd230;
  --drop-shadow-red: 0px 0px 20px #fb2c36;

  --ease-bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-link::before {
  @apply content-[''] absolute left-0 top-0 w-full h-full bg-primary/15 opacity-0 scale-0 rounded-full -z-10 transition-all duration-200 ease-in-out;
}

.nav-link:hover::before {
  @apply opacity-100 scale-100;
}

.hero-image::after {
  @apply content-[''] absolute left-0 top-0 w-full h-full bg-linear-to-t from-background via-background/40 to-background from-15% to-140%;
}

.hero-image::before {
  @apply content-[''] absolute left-0 top-0 w-full h-full bg-linear-to-l from-transparent to-background from-75% to-100% z-10;
}

.media-carousel::after {
  @apply content-[''] absolute left-0 top-0 w-full h-full bg-linear-to-l from-background to-transparent from-0% pointer-events-none to-7% z-10;
}

.media-carousel::before {
  @apply content-[''] absolute right-0 top-0 w-full h-full bg-linear-to-r from-background to-transparent from-0% pointer-events-none to-5% z-10;
}

.media-image-card::after {
  @apply content-[''] absolute left-0 top-0 w-full h-full bg-linear-to-b from-transparent to-neutral-950 from-50% to-98% z-10;
}

.media-image-card::before {
  @apply content-[''] absolute left-0 top-0 w-full h-full z-20 transition-all duration-200 ease-in-out;
}
